body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* header */
header {
    /* border: 2px solid rgb(0, 0, 0); */
    height: 837px;
    background-image: url("portfolio-resources-main/images/header_bg.png");
    background-position: bottom right -30px;
    background-position-y: bottom -10px;
    background-repeat: no-repeat;
    background-color: #FFF8F3;
}

nav {
    background-image: url("portfolio-resources-main/images/developer.png");
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 23px 38px;
    /* background-position-y: bottom; */


}

/* .main-pic {
    width: 584px;
    height: 676px;
    background-image: url('portfolio-resources-main/images/hardy.png');
    background-position-y: bottom -20000px;
    background-repeat: no-repeat;
} */

.nav-container {
    margin: 0px 226px 0px 226px;
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-between;

}

h2 {
    margin: 0px;
    font-size: 45px;

    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.head ul {
    display: flex;
}

li {
    display: flex;
    align-items: center;
    margin-right: 51px;
    font-weight: 400px;
    font-size: 20px;
    list-style: none;
}

li>a {
    color: #474747;
    text-decoration: none;
}

span {
    color: rgba(253, 110, 10, 1);
}

.hire {
    padding: 18px 35px 18px 35px;
    border: none;
    font-size: 15px;
    color: #FFF;
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background-color: rgba(253, 110, 10, 1);
}

button {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    width: 200px;
    height: 64px;
    border: none;
    border-radius: 5px;
    background-color: rgba(253, 110, 10, 1);

}

.header-info {
    margin-top: 61px;
    display: flex;
    align-items: center;
}

.info {
    width: 585px;
    height: 356px;

    margin: 0px 38px 0px 226px;
    width: 585px;
    /* border: 2px solid red; */
}

.info h1 {
    margin: 0px;
    color: #181818;
    /* font-family: Open Sans; */
    font-size: 85px;
    font-weight: bolder;

}

.hi {
    color: #474747;
    font-family: Open Sans;
    font-size: 45px;
    margin: 0px;
}

.info p {
    margin-top: 20px;
    margin-bottom: 25px;
    color: var(--dark-03, #757575);

    font-size: 18px;
}

img {
    /* background-image: url("portfolio-resources-main/images/header_bg.png"); */
    width: 584px;
    height: 676px;
    padding: 4px;


}

/* about */
.about {
    margin-top: 130px;
    text-align: center;
}

.about-container {

    margin: 0px auto;
    width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid rgb(8, 245, 210); */
    justify-content: center;
}

.infos h4 {
    margin: 0px;
}

.about .para {
    /* border: 1px solid coral; */
    width: 827px;
    margin: 0 auto;
    margin-bottom: 30px;

}

.about-info {
    margin: 0px auto;
    display: flex;
    width: 827px;
    /* border: 2px solid rgb(25, 2, 231); */
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.about {


    width: 1140px;
    /* border: 2px solid rgb(222, 12, 215); */
    text-align: center;
    border-radius: 10px;
    background: #FFF8F3;
}

/* what i do */
.skills .skill img {
    width: 44px;
    height: 44px;
}

.skill {
    font-size: 16px;
    width: 200px;
    height: 377px;

    padding: 30px;
    line-height: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills {
    display: flex;
    gap: 24px;

}

.what_do {
    /* border: 1px solid red; */
    width: 1140px;
    margin-top: 130px;
    text-align: center;
}

.skill p {
    width: 201px;
    text-align: left;
}

.do {
    width: 827px;
    margin: 0px auto;
    margin-bottom: 30px;
}

.what {
    color: var(--dark-01, #181818);
    text-align: center;

    font-size: 35px;

    line-height: normal;
}

/* resume */
.resume {
    margin-top: 40px;
    width: 1140px;
    display: flex;
    gap: 40px;
    /* justify-content: space-between; */

}

.edu {
    width: 511px;
    font-size: 16px;
    height: 180px;

    margin: 0px;
}

.education {
    gap: 30px;
    display: flex;
    flex-direction: column;

}

.ressume {
    margin-top: 30px;
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    text-shadow: none;
}

hr {
    margin: 0px;
    width: 558px;
    height: 1px;
    background: #D1D1D1;
}

.btn {
    /* margin-top: 50px;
    margin-left: 40%; */
    display: block;
    margin: 0 auto;

}

i {
    margin-right: 6px;
}

/* footer */
footer {
    margin-top: 113px;
    background: #FFF8F3;
    padding: 130px 230px 130px 230px;

}

.footer_container {

    width: 1140px;
    width: 100%;
    height: 600px;
    display: flex;


}

.half {

    width: 50%;
}

.icons i {
    margin-right: 24px;
    color: rgba(253, 110, 10, 1);
}

.msg_me {
    margin-left: 117px;
}

.msg_me input {

    display: block;
    padding-left: 28px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 461px;
    height: 30px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
}

textarea {
    padding-left: 28px;
    padding-top: 18px;
    padding-bottom: 18px;
    border: none;
    border-radius: 5px;
    margin-bottom: 24px;
}

.m_btn {

    display: block;
}

/* .hide {
    display: none;
} */

@media screen and (max-width:568px) {

    nav,
    header {
        background-image: none;
    }

    header {
        height: auto;
    }

    .nav-container {
        margin: auto;
    }

    .nav-container,
    ul,
    .header-info {
        gap: 15px;
        flex-direction: column;
        /* justify-content: none; */
    }

    .info {
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;
    }

    .main-pic img {
        width: 100%;
        height: auto;
    }

    footer {
        padding: 0px;
    }

    .footer_container {
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .msg_me {
        margin: 0px;
    }

    .msg_me input,
    textarea {
        width: 100%;
        height: 100%;
    }

    .down {
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        font-size: 12px;
        width: auto;
    }

    p {
        font-size: 15px;
    }

    h1 {
        font-size: 75px;
    }

    h2 {
        font-size: 40px;
    }

    .about-container,
    .what_do {
        width: 100%;
    }

    .about-info {
        width: 100%;
        flex-direction: column;
    }

    .about>h1 {
        font-size: 50px;
    }

    .about-container,
    .about {
        width: 100%;
    }

    .about .para {
        width: 100%;
    }

    .skills {
        width: 100%;
        flex-direction: column;
    }

    .skill {
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    .skill p {
        width: 90%;
        text-align: justify;
    }

    .do {
        width: 100%;
    }

    .resume {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .edu {
        padding: 10px;
        height: 100%;
        width: 93%;
    }

    .education h2 {
        font-size: 35px;
    }

    hr {
        margin: 0px auto;
        width: 80%;
    }

    .ressume {
        font-size: 30px;
    }
}